/* add home page styles here */

.note-detail-container{
    display:flex;
    flex-direction: row;
    
}

.note-detail {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 1px black;
    background-color: yellowgreen;
    /* width: 200px;
    height: 200px; */
    
}

.note-detail p {
    font-size: small;
    font-weight: bolder;
}