/* add home page styles here */

.note-detail-container{
    display:flex;
    flex-direction: row;
    
}

.note-detail {
    /* font-size: 1.5rem; */
    padding: 10px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 1px black;
    background-color: yellowgreen;
    
    /* width: 200px;
    height: 200px; */
    
}

.note-detail p {
    font-size: medium;
    font-weight: bolder;
}

/* #toop {
    border: solid 3px green;
    background-color: green;
    box-shadow: 10px 5px 5px rgb(3, 2, 2);
} */

a:link, a:visited {
    background-color: #8f807f;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }